/* styles.css */
body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  margin-top: 70px;
}

.left {
  width: 450px;
  display: inline-block;
  text-align: center;
}

.left .logo {
  max-width: 100px; /* Adjust logo size as needed */
}

.right {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  gap: 10px;
}

form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

form button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

form button:hover {
  background-color: #166fe5;
}

form a {
  color: #1877f2;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.signup {
  background-color: #42b72a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.signup:hover {
  background-color: #3aa623;
}
